// app global css in SCSS form
*,
p {
  margin: 0;
}

.q-btn__content {
  width: 100%;
}

.q-menu-notop {
  top: unset !important;
}

@media (max-width: 786px) {
  .channelList {
    display: none;
  }
  .break-md-hide {
    display: none !important;
  }
  .break-md-col {
    flex-direction: column !important;
  }
  .break-md-w-full {
    width: 100% !important;
  }
  .break-md-block {
    display: block;
  }
  .break-md-w-unset {
    max-width: none !important;
    width: auto !important;
  }
  .break-md-mb-0 {
    margin-bottom: 0 !important;
  }
}
